[submodule "ThirdParties/poco"]
	path = ThirdParties/poco
	url = https://github.com/pocoproject/poco.git
[submodule "ThirdParties/mongo-c-driver"]
	path = ThirdParties/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver.git
